html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: 'Comfortaa', cursive;
}

    /*Header*/
.logo1{
    max-width: 50px;
    max-height: 50px;
}
header{
    max-height: 65px;
    min-height: 65px;
    font-size: 25px;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color:#FFD489;
    max-height: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.agence{
    text-decoration: none;
    color: black;
}
.services{
    text-decoration: none;
    color: black;
}
.contact{
    text-decoration: none;
    color: black;
}

    /*Accueil*/
.page{
    min-height: 100vh;
}   
.accueil{
    /*background-color: #08262e15;*/
    max-height: 63vh;
    min-height: 63vh;
    margin: 60px;
    display: flex;
    justify-content: center;     
    align-items: center;
  
}
h2{
    display: flex;
    justify-content: center;
    color: #6496CF;
}
.oniris{
    font-size: 45pt;
}
.slogan{
    font-size: xx-large;
}

.logo2{
    max-height: 250px;
    max-width: 250px;
    min-height: auto;
}
.bouton{
    text-decoration: none;
    color: white;
    font-size: x-large;
    background-color: #6496CF;
    padding: 15px;
    margin: 90px;
    border-radius: 40px;
    width: 210px;
    display: flex;
    justify-content: center;
}


/*Présentation*/
.presentation{
    min-height: 100vh;
    display: flex;
    flex-direction: column ; 
    justify-content: center;
}
.decoration{
    min-height: 50px;
    max-height: 50px;
    background-color:#FFD489 ;
}
.present{
     background-color: #08262e15;
    max-height: auto;
    min-height: 63vh;
    margin: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column ; 
    justify-content: center;
}
.exemple{
    max-height: 180px;
}
.images{
    display: flex;
    justify-content: center;
}
.titre{
    /*display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;*/
    text-align: center;
}
.texte{
    display: flex;
    justify-content: center;
    font-size: 15pt;
}   

.retour{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #FFD489;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
}

/*Services*/
.nosservices{
    min-height: 100vh;
    display: flex;
    flex-direction: column ; 
    justify-content: center; 
}
.nom{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #6496CF;
}
.flexFilet1{
    display: flex;
    justify-content: flex-end;
}
.deco{
    width: 65%;
    height: 15px;
    background-color: #FFD489;
    border-radius: 10px 0 0 10px;

}
.prestations1{
    background-color:#08262e15 ;
    margin: 40px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}
.prestations2{
    background-color:#08262e15 ;
    margin: 40px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}
.cadre1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.cadre2{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.produit{
    padding: 10px;
    color: #6496CF;
    font-size: x-large;
    font-weight: bold;
}
.descri{
    font-size: large;
}

.expo{
    max-height: 150px;
    text-align: center;
}
    /*Notre agence*/
.description{
    color: black;
    background-color: #08262e15;
    font-size: 15pt;
    margin: 60px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.page1{
    min-height: 100vh;
    display: flex;
    flex-direction: column ; 
    justify-content: center;
}
.photo{
    max-height: 250px;
    margin: 15px;
}
.espace{
    margin: 20px;
}
.l-agence{
    color: #6496CF;
}
.nom{
    font-size: 35pt;
    position: static; 
}

.filet{
    border-bottom : 15px solid #FFD489;
    border-radius:0 10px 10px 0 ;
    width: 65%;
}
.membres{
    font-size: large;
    width: 100%;
    margin-top: 30px;
    display: block;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

    /* Contact*/
.contacter{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coordonnées{
    background-color: #08262e15;
    margin: 60px;
    padding: 20px;
    border-radius: 15px;
}
.nom2{
    color: #6496CF;
    font-size: xx-large;
}
.adresse{
    margin-top: 10px;
    font-size: large;
}
.mail{
    margin-top: 10px;
    font-size: large;
}
.tel{
    margin-top: 10px;
    font-size: large;
}



